@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;    
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
  }  

.contenedor-principal {
  margin-top: 0;
  padding: 0;
}

.top-bar {
  display: flex;
  align-items: center;
  background-color: rgb(11, 69, 203);
  width: 100%;
  position: static; 
  padding: 20px 0 20px;
}  
.top-bar-content {
  display: flex;
  justify-content: space-between;    
  padding: 0 20px;
  max-width: 100%;
  margin: 0 auto;
  width: 100%;
}  
.top-bar-title {
  color: white;
  margin: 0;
  font-size: 1.5rem;
  font-family: 'Bebas Neue', sans-serif;
  font-weight: normal;
  letter-spacing: 2px;
  white-space: nowrap; 
  padding-left: 20px;
 }  
.topbar-button{
  display: flex; 
  align-items: center;
  padding-right: 20px;
}
.language-button {
  background: none; 
  border: none; 
  cursor: pointer; 
  margin-left: 10px;
}
.language-button img {
  width: 40px; 
  height: auto; 
}


  .hero-section {
    background-color: hsla(222, 90%, 42%, 1);
    padding: 10px 0 100px;    
    text-align: center;
    width: 100%;
    margin-top: 0; 
    box-sizing: border-box; 
  }  
  .hero-image {
    width: 30px; /* Ajusta este valor según el tamaño que desees */
    height: auto; /* Mantiene la proporción de la imagen */
    max-width: 100%; /* Asegura que la imagen no sea más ancha que su contenedor */
    margin-bottom: 20px;
    animation: rotate 8s linear infinite;    
    transition: all 0.3s ease; 
  } 
  .hero-image:hover {
    transform: scale(1.1);
    animation-play-state: paused;
  }  
  .hero-text {
    font-size: 2.9rem;
    color: white;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: normal;
    letter-spacing: 2px;    
    margin: 0;
    white-space: nowrap;
  }
  .hero-text2 {
    font-size: 1.3rem;
    color: white;
    font-family: "Montserrat", serif;
    font-style: normal;    
    font-weight: 400;    
    margin: 0;
  }
  .hero-text3 {
    font-size: 1.3em;
    color: white;
    font-family: "Montserrat", serif;  
    font-weight: 400;
    font-style: normal;        
    margin-top: 50px;
    margin-left: 25%;
    margin-right: 25%;
    max-width: 1000px;
    letter-spacing: 0.5px;
    line-height: 1.3;
    text-align: justify;
    hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    word-break: break-word;
  }

  .info-section {
    display: flex;
    justify-content: space-between;    
    padding: 20px;
    background-color: #D89825;
    margin: 0 auto; /* aca 6px para raya blanca */
    min-height: 200px;
    max-height: 400px;    
    overflow: hidden;
  }  
  .info-text {
    flex: 1; 
    padding-right: 20px;    
  }  
  .info-text h2 {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: normal;
    letter-spacing: 2px;
    font-size: 3rem;
    color: #ffffff;
    margin: 0;
    line-height: 1.2;     
  }
  .info-text h3 {
    font-family: "Montserrat", serif;
    font-weight: normal;
    font-weight: 400;
    letter-spacing: 0.5px;
    font-size: 1.3rem;
    color: #ffffff;    
    margin-top: 10px;
    line-height: 1.3;
    text-align: justify;  
    hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    word-break: break-word;    
  }  
  .info-image-container {    
    display: flex;
    justify-content: center;
    align-items: center;    
  }  
  .info-image {
    max-width: 70%;
    height: auto;  
    object-fit: contain;
  }
  
  
  .proyectos-contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    gap: 40px;
    margin-top: 0;    /*5px para raya blanca*/  
    padding: 0 0;
    background-image: url('/images/bg1.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;      
  }
  .proyectos-titulo {
    position: relative;
    z-index: 1;
    padding: 10px;
    margin-top: 0;    
    width: 100%;
    height: 70px;
    text-align: center;  
    box-sizing: border-box; 
    overflow: hidden; 
  }
  .proyectos-titulo h2 { 
    margin: 0;   
    color: white;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: normal;
    letter-spacing: 2px;
    font-size: 3rem;
  }
  .proyectos-titulo::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgb(0, 41, 137), rgba(0, 41, 137, 0)); 
    z-index: -1; 
  }
  .proyecto-item {
    display: flex;    
    gap: 20px;
    background-color: #0E1789;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);    
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease; 
    max-width: 1000px; 
    min-height: 300px;
    width: calc(100% - 40px); 
    margin: 0 20px 20px;    
  }
  .proyecto-item.visible {
    opacity: 1;
    transform: translateY(0);
  }
  .proyecto-item.invertir {
    flex-direction: row-reverse;
  }
  .proyecto-imagen {   
    flex: 1;
    max-width: 50%;
    height: 300px; 
    overflow: hidden;   
  }
  .proyecto-imagen img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px; 
  }
  .proyecto-info {
    flex: 1;
    padding: 20px;
    text-align: center;
  }  
  .proyecto-info h2 {
    margin-top: 0;
    color: white;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 400;    
    letter-spacing: 3px;
    font-size: 2rem;    
  }  
  .proyecto-info p {
    line-height: 1.2;
    text-align: justify;
    color: white;
    font-family: "Montserrat", serif;    
    font-weight: 400;
    letter-spacing: 0.5px;
    font-size: 1.3rem;
    hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    word-break: break-word;
  }
  .boton-mas-info {
    display: inline-block;
    padding: 10px 20px;
    background-color: hsla(222, 90%, 42%);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-top: 15px;
  }  
  .boton-mas-info:hover {
    background-color: rgb(74, 129, 255);
  }

  .not-found {
    text-align: center;
    padding: 5px 5px 5px;
    background-color: rgba(255, 255, 255, 0.8);    
    margin: 0 auto;
    max-width: 600px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }  
  .not-found h2 {
    color: #1f9abf;
    font-size: 3.5em;
  }  
  .not-found p {
    margin-top: 20px;
    font-size: 2em;
  }

  .footer {
    background-color: white; /* Color de fondo negro */
    color: #0b45cb; /* Color del texto */
    padding: 0px; /* Espaciado interno */
    text-align: center; /* Centra el contenido */
  }  
  .footer-content {
    max-width: 1200px; /* Ancho máximo del contenido */
    margin: 10px auto; /* Centra el contenido */
  }  
  .footer h3 {
    margin: 0; /* Elimina el margen por defecto */
  } 
  .footer-content p {
    font-family: "Montserrat", serif;
    font-style: normal;
    font-weight: 400;
  } 
  .footer-content h3 {
    font-family: "Montserrat", serif;
    font-style: normal;
    font-weight: 400;
  } 
  .social-icons {
    display: flex; /* Usa flexbox para alinear los íconos */
    justify-content: center; /* Centra los íconos */
    gap: 15px; /* Espacio entre los íconos */
    margin-top: 10px; /* Espacio superior */
  }  
  .social-icons a {
    color: #0b45cb; /* Color de los íconos */
    font-size: 1.5rem; /* Tamaño de los íconos */
    transition: color 0.3s ease; /* Transición suave para el color */
  }  
  .social-icons a:hover {
    color: #03d5ff; /* Color al pasar el mouse */
  }
  .footer-linea {
    width: 100%;
    height: 30px;
    background-color: #D89825;
  }

  .scroll-to-top {
    position: fixed; /* Fija el botón en la pantalla */
    bottom: 20px; /* Distancia desde la parte inferior */
    right: 20px; /* Distancia desde la derecha */
    width: 50px; /* Ancho del botón */
    height: 50px; /* Altura del botón */
    background-color: #D89825; /* Color de fondo */
    color: black; /* Color del texto */
    border: none; /* Sin borde */
    border-radius: 50%; /* Hace el botón redondo */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
    transition: background-color 0.3s ease; /* Transición suave para el color de fondo */
    display: flex; /* Para centrar el contenido */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
  }
  .scroll-to-top:hover {
    background-color: #ffcd6f; /* Color de fondo al pasar el mouse */
  }  
  .scroll-to-top .flecha {
    font-size: 2em;
    text-decoration: solid;
  }



  /* Ajuste para dispositivos móviles */
@media (max-width: 768px) {
    body {
      background-attachment: scroll;
    }   
    .top-bar-title {      
      font-size: 1.05rem;
    }  
    .language-button img {
      width: 30px; 
      height: auto; 
  }

    .hero-text {
      font-size: 2.1rem;      
    }  
    .hero-text2 {
      font-size: 0.95rem;      
    }  
    .hero-text3 {
      font-size: 0.95rem; 
      margin-top: 20px;
      margin-left: 10%;
      margin-right: 10%;
    }
        
    .info-text {
      max-width: 100%;
    }
    .info-text h2 {
      font-size: 1.5rem;
      white-space: nowrap;       
    }  
    .info-text h3 {
      font-size: 1rem;            
    } 
    .info-image-container {
      display: none; 
    }
    .proyecto-info h2 {      
      font-size: 1.4rem;    
    }  
    .proyecto-info p {
      line-height: 1.2;      
      letter-spacing: 0px;
      font-size: 1.1rem;      
    }
    .proyecto-item,.proyecto-item.invertir {
      flex-direction: column !important;
    }
    .proyecto-imagen {
        max-width: 100% !important;
        width: 100%;
        height: 150px;
        overflow: hidden;
    }
    .proyecto-imagen img {
      width: 100%;
      height: 100%; 
      object-fit: cover; 
  }
    .proyecto-info {
        width: 90%;
    }     
    .proyectos-titulo h2 {
      font-size: 1.5rem;
    }
    
    .not-found {
      margin: 0px;
      padding: 0px;
    }
    .not-found h2 {
      font-size: 2.5em;
    }
    .not-found p {
      font-size: 1.5em;
      margin-top: 0px;
    }
  }

  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  